@model string

<div style="display: flex; flex-direction: column; align-items: center; align-self: center; width: 100%;">
    <i class="fa fa-remove" style="color: red;"></i>
    <div style="color: red;">@Model</div>
    <div style="color: red;">DELETED</div>
</div>

