@using VideoHosting.Models.Utils
@model string


<div class="row m-1" style="height: 60px;">
    <div class="col">
        @using (Ajax.BeginForm("GetStatistics", "Statistics",
            new AjaxOptions() { UpdateTargetId = "target", LoadingElementId = "accStatLoader", OnBegin = "clearTarget" }))
        {
            <input type="hidden" name="pageId" value="@Model" />
            <input type="hidden" name="type" value="Rate" />
            <input class="btn btn-primary btn-no-shadow" style="width: 100%" type="submit" value="Rate Statistics" />
        }
    </div>
    <div class="col">
        @using (Ajax.BeginForm("GetStatistics", "Statistics",
            new AjaxOptions() { UpdateTargetId = "target", LoadingElementId = "accStatLoader", OnBegin = "clearTarget" }))
        {
            <input type="hidden" name="pageId" value="@Model" />
            <input type="hidden" name="type" value="View" />
            <input class="btn btn-primary btn-no-shadow" style="width: 100%" type="submit" value="View Statistics" />
        }
    </div>
    <div class="col">
        @using (Ajax.BeginForm("GetStatistics", "Statistics",
            new AjaxOptions() { UpdateTargetId = "target", LoadingElementId = "accStatLoader", OnBegin = "clearTarget" }))
        {
            <input type="hidden" name="pageId" value="@Model" />
            <input type="hidden" name="type" value="Comment" />
            <input class="btn btn-primary btn-no-shadow" style="width: 100%" type="submit" value="Comment Statistics" />
        }
    </div>
</div>

<div style="height: auto;">
    <div class="m-1 p-0" id="target">
        @Html.Action("GetStatistics", "Statistics", new { pageId = Model, type = "Rate" })
    </div>

    <div id="accStatLoader" style="position: relative; height: 100%; width: 100%; text-align: center; display: none;">
        <span class="helper"></span>
        <img src="~/Content/Images/loader.gif" style="vertical-align: middle;" />
    </div>
</div>


<script>
    function clearTarget() {
        document.getElementById('target').innerHTML = '';
    }
</script>
