@using VideoHosting.Models.Database.Entities.Sinthetic
@model IEnumerable<VideoPreviewInfo>

@{
    ViewBag.Title = "MyVideo";
}

<div class="mb-2 text-center" style="width: 100%; font-size: 20px; font-weight: 400;">My Video</div>

<div>
    @foreach (var page in Model)
    {
        @VideoHelpers.MyVideoListElement(page, Url);
    }
</div>