
@{
    ViewBag.Title = "Video Upload";
    string pageUrl = Url.Action("Watch", "Video", new { pageId = "-" });
}

<script src="~/Scripts/WebSocket/video-handling-status.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/ViewScripts/video-load.js"></script>
<script type="text/javascript">
    function observeProgress(data, status, xhr) {
        jsonFile = JSON.parse(data);
        videoUrl = '@pageUrl'.replace("-", jsonFile['PageId']);
        linkToVideoPage = document.getElementById('linkToVideoPage');
        linkToVideoPage.href = videoUrl;
        linkToVideoPage.innerHTML = location.host + videoUrl;
        exe_start(jsonFile['PageId']);
    }
</script>

<div class="mb-2 text-center" style="width: 100%; font-size: 20px; font-weight: 400;">Upload Video</div>

<template id="tagrow">
    <button type="button" id="tagButton" class="btn btn-outline-primary btn-no-shadow m-1" style="height: 40px; font-size: 12px;" onclick="">
        <span id="tagName" class="cut-text"></span>
        <i class="fa fa-close"></i>
        <input id="tagValue" name="tags" type="hidden" value="" />
    </button>
</template>

<div class="row mb-5">

    <div class="col-7" style="display: flex; flex-direction: column;">
        @using (Ajax.BeginForm("UploadVideo", "Video", new { area = "" },
            new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", OnComplete = "disableForm", OnSuccess = "observeProgress(data, status, xhr)" },
            new { @id = "frmform", @enctype = "multipart/form-data" }))
        {
            <div class="custom-file mb-2">
                <input id="videoFile" onchange="onFileChoice()" name="videoFile" type="file" class="custom-file-input" accept="video/*" required />
                <label id="videoFileLabel" for="videoFile" class="custom-file-label text-truncate">Choose video...</label>
            </div>
            <textarea name="videoName" id="videoName" maxlength="128" required style="max-width:none; resize: none;" rows="5"
                      placeholder="Video name (128 character max)" class="form-control mb-2"></textarea>

            <div id="tagsControllerBox" class="row border p-1 m-0 mt-1 mb-1" style="border-color: gray; height: min-content; border-radius: 5px;">
                <div id="tagsContainer" class="col-11 myvideo-tag-edit">
                    
                </div>
                <a href="#addtag" class="col-1 btn btn-primary btn-no-shadow btn-ico-center" role="button" data-toggle="modal" data-slide="0">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </div>

            <input type="submit" id="videoSubmit" class="btn btn-primary w-100" style="max-width:none;" value="Upload" />
        }
    </div>

    <div class="col-5" style="display: flex; flex-direction: column;">
        <div class="rounded-top bg-secondary upload_thumbnail">
            <img id="videoThumbnail" style="height: 200px; width: -webkit-fill-available;"/>
        </div>

        <div class="rounded-bottom bg-light" style="display: flex; flex-direction: column; padding: 5px; height: 50px;">
            <div class="text-secondary" style="font-size: 12px;">
                Link to video:
            </div>
            <a id="linkToVideoPage" href="" class="cut-text" style="font-size: 14px;"></a>
        </div>
    </div>
</div>

<div class="loading_gif_container">
    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" class="upload_loading_gif" style="display:none;" />
</div>

<div id="progressBlock" style="visibility: hidden;">
    <div class="text-center border border-bottom-0 rounded-top" style=" height: 40px;">
        <div id="videoHandlingText" class="font-weight-bold mt-2" style="font-size: 18px;">
            Loading
        </div>
    </div>

    <div class="progress" style="height: 40px;">
        <div id="videoProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>


<div id="addtag" class="modal fade" role="dialog" style="padding-right: 16px; display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="carousel slide" data-ride="carousel" tabindex="-1" id="carousel">

                    
                    
                    <div class="add-comment-container">
                        <span id="commentForText" class="mt-1 mb-1">Add tag</span>
                        <textarea class="add-tag-textarea" name="tagText" id="tagText" rows="2" maxlength="22" required></textarea>
                    </div>

                </div>
            </div>
            <div class="loading_gif_container">
                <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" class="loading_gif" style="display:none;" />
            </div>
            <div class="modal-footer">
                <input type="button" onclick="newTag()" class="btn btn-success btn-no-shadow px-3" value="Add" />
                <a href="#" role="button" data-dismiss="modal" class="btn btn-danger btn-no-shadow px-3">Close</a>
            </div>

        </div>
    </div>
</div>